<!DOCTYPE html>
<html>
  <head>
    <title>Thespoon</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>

  <footer>
  Made with love by the @Le Wagon <%= Time.now.year %>
  <%= link_to 'About', about_path %>
  <%= link_to 'Contact', contact_path %>
  <%= link_to 'Restaurants', restaurants_path %>
</footer>
</html>
